Repository gocrane/crane, pull requests merged in 2022-10, with the labels that each got.

#576 docs: Update docs for recommendation framework
  site/content/zh/docs/Getting started/introduction.md
  site/content/zh/docs/Tutorials/Recommendation/_index.md
  site/content/zh/docs/Tutorials/Recommendation/how-to-develop-recommender.md
  site/content/zh/docs/Tutorials/Recommendation/recommendation-framework.md
  site/content/zh/docs/Tutorials/Recommendation/replicas-recommendation.md
  site/content/zh/docs/Tutorials/Recommendation/resource-recommendation.md
  site/content/zh/docs/Tutorials/analytics-and-recommendation.md
  site/content/zh/docs/Tutorials/replicas-recommendation.md
  site/content/zh/docs/Tutorials/resource-recommendation.md
  site/static/images/recommendation-framework.png
Labels: documentation

#574 add cpumanager
  cmd/crane-agent/app/agent.go
  cmd/crane-agent/app/options/option.go
  deploy/crane-agent/daemonset.yaml
  pkg/agent/agent.go
  pkg/ensurance/cm/advanced_cpu_manager.go
  pkg/ensurance/cm/advanced_cpu_manager_test.go
  pkg/ensurance/cm/advanced_policy_static.go
  pkg/ensurance/cm/advanced_policy_static_test.go
  pkg/ensurance/cm/cpu_assignment.go
  pkg/ensurance/cm/cpu_assignment_test.go
  pkg/ensurance/cm/cpumanager/cpu_assignment.go
  pkg/ensurance/cm/cpumanager/cpu_manager.go
  pkg/ensurance/cm/cpumanager/policy.go
  pkg/ensurance/cm/cpumanager/util.go
  pkg/ensurance/cm/policy.go
  pkg/ensurance/cm/test/cpu_manager_state
  pkg/ensurance/cm/util.go
  pkg/ensurance/collector/noderesourcetopology/noderesourcetopology.go
  pkg/ensurance/runtime/runtime.go
  pkg/features/features.go
  pkg/topology/node_resource_topology.go
  pkg/utils/pod.go
Labels: deploy

#577 bugfix: fix rr label issue
  pkg/controller/recommendation/recommendation_rule_controller.go
  pkg/known/label.go
Labels: area:recommendation

#579 bugfix: Add docs for recommend, revert expression change
  README.md
  README_zh.md
  pkg/utils/ehpa.go
  pkg/utils/expression_prom_default.go
  pkg/web/src/i18n/resources/en/translation.json
  pkg/web/src/i18n/resources/zh/translation.json
  pkg/web/src/router/modules/recommend.ts
  site/content/en/docs/Contributing/developer-guide.md
  site/content/en/docs/Getting started/introduction.md
  site/content/en/docs/Tutorials/Recommendation/_index.md
  site/content/en/docs/Tutorials/Recommendation/how-to-develop-recommender.md
  site/content/en/docs/Tutorials/Recommendation/recommendation-framework.md
  site/content/en/docs/Tutorials/Recommendation/replicas-recommendation.md
  site/content/en/docs/Tutorials/Recommendation/resource-recommendation.md
  site/content/en/docs/Tutorials/analytics-and-recommendation.md
  site/content/en/docs/Tutorials/replicas-recommendation.md
  site/content/en/docs/Tutorials/resource-recommendation.md
  site/content/zh/docs/Contributing/developer-guide.md
  site/content/zh/docs/Tutorials/Recommendation/how-to-develop-recommender.md
  site/content/zh/docs/Tutorials/Recommendation/replicas-recommendation.md
  site/content/zh/docs/Tutorials/Recommendation/resource-recommendation.md
Labels: documentation, area:dashboard

#581 add topology api in manifests
  deploy/manifests/topology.crane.io_noderesourcetopologies.yaml
Labels: deploy

#582 docs: trigger
  site/content/en/docs/Tutorials/_index.md
Labels: documentation

#587 chore: Hide managedFields by default when display YAML
  pkg/web/src/services/recommendationApi.ts
  pkg/web/src/services/recommendationRuleApi.ts
Labels: area:dashboard

#588 add topology awareness and cpumanager docs
  site/content/zh/docs/Getting started/introduction.md
  site/content/zh/docs/Tutorials/node-resource-tpolology-scheduler-plugins.md
  site/static/images/topology-awareness-architecture.png
  site/static/images/topology-awareness-details.png
Labels: documentation

#591 update crane architecture diagram with component details
  docs/images/crane-arch.png
Labels: documentation

#594 Dashbaord control
  cmd/craned/app/manager.go
  pkg/controller/recommendation/recommendation_rule_controller.go
  pkg/features/features.go
  pkg/recommendation/recommender/replicas/registry.go
  pkg/server/config/config.go
  pkg/server/handler/clusters/cluster.go
  pkg/server/handler/recommendation/recommendation.go
  pkg/server/router.go
  pkg/server/store/cluster.go
  pkg/utils/recommend.go
  pkg/web/src/hooks/index.ts
  pkg/web/src/hooks/useDashboardControl.ts
  pkg/web/src/i18n/resources/en/translation.json
  pkg/web/src/i18n/resources/zh/translation.json
  pkg/web/src/models/index.ts
  pkg/web/src/pages/Recommend/ReplicaRecommend/index.tsx
  pkg/web/src/pages/Recommend/ResourcesRecommend/index.tsx
  pkg/web/src/services/recommendationApi.ts
Labels: area:dashboard, area:recommendation

#595 HPA Recommender
  examples/analytics/recommendation-configuration.yaml
  pkg/recommendation/framework/context.go
  pkg/recommendation/recommender/hpa/filter.go
  pkg/recommendation/recommender/hpa/recommend.go
  pkg/recommendation/recommender/hpa/registry.go
Labels: area:recommendation, examples
