Repository gocrane/crane, pull requests merged in 2022-08, with the labels that each got.

#418 Update proposal
  docs/proposals/Pod-Sorting-And-Precise-Execution-For-Crane-Agent.md
  docs/proposals/Pod-Sorting-And-Precise-Execution-For-Crane-Agent.zh.md
Labels: documentation

#417 Improve crane agent doc
  docs/tutorials/using-qos-ensurance.md
  docs/tutorials/using-qos-ensurance.zh.md
Labels: documentation

#490 docs: access dashboard
  docs/images/dashboard.png
  docs/installation.md
  docs/installation.zh.md
Labels: documentation

#500 fix/dashboard: code copy
  pkg/web/package-lock.json
  pkg/web/package.json
  pkg/web/src/pages/Recommend/ReplicaRecommend/index.tsx
  pkg/web/src/pages/Recommend/ResourcesRecommend/index.tsx
  pkg/web/src/utils/copyToClipboard.ts
Labels: area:dashboard

#514 fix craned deployment yaml
  deploy/craned/deployment.yaml
Labels: deploy

#517 fix the doc error about port-forward
  docs/installation.md
  docs/installation.zh.md
Labels: documentation

#519 docs: instant page
  docs/assets/instant.page.5.1.1.js
  mkdocs.yml
Labels: documentation

#483 feat: pkg-utils-time
  pkg/utils/time_test.go
Labels: Unit Test

#531 bugfix: fix rr selector error
  pkg/controller/recommendation/recommendation_rule_controller.go
Labels: area:recommendation

#533 add resources limits and requests
  docs/tutorials/effective-hpa-with-prometheus-adapter.md
  docs/tutorials/effective-hpa-with-prometheus-adapter.zh.md
Labels: documentation

#487 refine cpu sorter of crane agent
  pkg/ensurance/analyzer/analyzer.go
  pkg/ensurance/executor/cpu_usage.go
  pkg/ensurance/executor/evict.go
  pkg/ensurance/executor/interface.go
  pkg/ensurance/executor/metric.go
  pkg/ensurance/executor/pod-info/pod_info.go
  pkg/ensurance/executor/podinfo/pod_info.go
  pkg/ensurance/executor/schedule.go
  pkg/ensurance/executor/sort/cpu_usage_sort.go
  pkg/ensurance/executor/sort/cpu_usage_sort_test.go
  pkg/ensurance/executor/sort/general_sort.go
  pkg/ensurance/executor/sort/mem_metrics_sort.go
  pkg/ensurance/executor/sort/sort.go
  pkg/ensurance/executor/throttle.go
  pkg/ensurance/executor/watermark.go
  pkg/ensurance/executor/watermark_test.go
  pkg/resource/pod_resource_manger.go
  pkg/utils/pod.go
Labels: area:crane-agent

#529 update README.md
  README.md
  README_ch.md
  README_zh.md
  docs/images/crane-arch.png
  docs/images/crane-overview.png
Labels: documentation

#481 adapt to nodeqos and podqos api
  cmd/crane-agent/app/agent.go
  cmd/crane-agent/app/options/option.go
  deploy/crane-agent/rbac.yaml
  examples/ensurance/evict-on-cpu-usage-total/be-rules.yaml
  go.mod
  go.sum
  pkg/agent/agent.go
  pkg/ensurance/analyzer/analyzer.go
  pkg/ensurance/analyzer/podqos-fetcher.go
  pkg/ensurance/cache/detection.go
  pkg/ensurance/cache/nep.go
  pkg/ensurance/cache/nodeqos.go
  pkg/ensurance/collector/collector.go
  pkg/ensurance/collector/noderesource/noderesource.go
  pkg/ensurance/collector/types/types.go
  pkg/ensurance/executor/cpu_usage.go
  pkg/ensurance/executor/evict.go
  pkg/ensurance/executor/interface.go
  pkg/ensurance/executor/metric.go
  pkg/ensurance/executor/podinfo/pod_info.go
  pkg/ensurance/executor/release_resource.go
  pkg/ensurance/executor/schedule.go
  pkg/ensurance/executor/throttle.go
  pkg/ensurance/executor/watermark.go
  pkg/ensurance/executor/watermark_test.go
  pkg/known/label.go
  pkg/known/types.go
  pkg/metrics/ensuarance.go
  pkg/resource/node_resource_manager.go
  pkg/utils/node.go
  pkg/webhooks/ensurance/validate_test.go
  pkg/webhooks/ensurance/validating.go
  pkg/webhooks/webhook.go
Labels: area:crane-agent, deploy, examples
