Repository gocrane/crane, pull requests merged in 2022-06, with the labels that each got.

#321 feat(docs): Support MathJax && Refactor HPA, crane-scheduler
  docs/assets/mathjax.js
  docs/assets/output/chtml.js
  docs/assets/output/chtml/fonts/tex.js
  docs/assets/output/chtml/fonts/woff-v2/MathJax_AMS-Regular.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Calligraphic-Bold.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Calligraphic-Regular.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Fraktur-Bold.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Fraktur-Regular.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Main-Bold.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Main-Italic.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Main-Regular.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Math-BoldItalic.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Math-Italic.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Math-Regular.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_SansSerif-Bold.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_SansSerif-Italic.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_SansSerif-Regular.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Script-Regular.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Size1-Regular.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Size2-Regular.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Size3-Regular.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Size4-Regular.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Typewriter-Regular.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Vector-Bold.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Vector-Regular.woff
  docs/assets/output/chtml/fonts/woff-v2/MathJax_Zero.woff
  docs/assets/output/svg.js
  docs/assets/output/svg/fonts/tex.js
  docs/assets/polyfill.min.js
  docs/assets/tex-mml-chtml.js
  docs/assets/util.css
  docs/tutorials/hpa-recommendation.md
  docs/tutorials/hpa-recommendation.zh.md
  docs/tutorials/scheduling-pods-based-on-actual-node-load.md
  mkdocs.yml
Labels: documentation

#358 Add finalizers role for node and tsp
  deploy/crane-agent/rbac.yaml
Labels: kind/bug

#216 Precise execution according to waterline
  cmd/crane-agent/app/agent.go
  cmd/crane-agent/app/options/option.go
  pkg/agent/agent.go
  pkg/ensurance/analyzer/analyzer.go
  pkg/ensurance/collector/cadvisor/cadvisor_linux.go
  pkg/ensurance/collector/collector.go
  pkg/ensurance/collector/nodelocal/nodelocal.go
  pkg/ensurance/collector/types/types.go
  pkg/ensurance/executor/cpu_usage.go
  pkg/ensurance/executor/evict.go
  pkg/ensurance/executor/executor.go
  pkg/ensurance/executor/interface.go
  pkg/ensurance/executor/metric.go
  pkg/ensurance/executor/pod-info/pod_info.go
  pkg/ensurance/executor/release_resource.go
  pkg/ensurance/executor/schedule.go
  pkg/ensurance/executor/sort/cpu_usage_sort.go
  pkg/ensurance/executor/sort/general_sort.go
  pkg/ensurance/executor/sort/mem_metrics_sort.go
  pkg/ensurance/executor/sort/sort.go
  pkg/ensurance/executor/throttle.go
  pkg/ensurance/executor/waterline.go
  pkg/ensurance/executor/waterline_test.go
  pkg/resource/node_resource_manager.go
  pkg/resource/pod_resource_manger.go
  pkg/utils/pod.go
  pkg/utils/ref.go
  pkg/utils/util.go
Labels: kind/feature

#357 Proposal: Pod-Sorting-And-Precise-Execution-For-Crane-Agent
  docs/proposals/Pod-Sorting-And-Precise-Execution-For-Crane-Agent-CN.md
  docs/proposals/Pod-Sorting-And-Precise-Execution-For-Crane-Agent.md
  docs/proposals/cpu-usage-water-line.png
  docs/proposals/waterline-construct.png
Labels: proposal
