Repository gocrane/crane, pull requests merged in 2022-12, with the labels that each got.

#643 hpa recommendation docs
  pkg/recommendation/manager.go
  pkg/recommendation/recommender/hpa/recommend.go
  pkg/recommendation/recommender/replicas/recommend.go
  site/content/en/docs/Getting started/introduction.md
  site/content/en/docs/Tutorials/Recommendation/hpa-recommendation.md
  site/content/en/docs/Tutorials/Recommendation/recommendation-framework.md
  site/content/en/docs/Tutorials/Recommendation/replicas-recommendation.md
  site/content/zh/docs/Getting started/introduction.md
  site/content/zh/docs/Tutorials/Recommendation/hpa-recommendation.md
  site/content/zh/docs/Tutorials/Recommendation/recommendation-framework.md
Labels: documentation, area:recommendation

#644 Deploy dir update to v0.8.0
  deploy/crane-agent/daemonset.yaml
  deploy/craned/deployment.yaml
  deploy/metric-adapter/deployment.yaml
  site/content/en/docs/Getting started/installation.md
  site/content/zh/docs/Getting started/installation.md
Labels: documentation, deploy

#645 first blog
  site/config.toml
  site/content/en/blog/_index.md
  site/content/en/blog/release-0.7.md
  site/content/zh/blog/_index.md
  site/content/zh/blog/release-0.7.md
Labels: documentation

#560 add query expressions management by prom-adapter-config
  cmd/craned/app/manager.go
  cmd/craned/app/options/options.go
  go.mod
  go.sum
  pkg/controller/ehpa/hpa.go
  pkg/controller/ehpa/predict.go
  pkg/prometheus-adapter/config_fetcher.go
  pkg/prometheus-adapter/expression.go
  pkg/prometheus-adapter/expression_test.go
  pkg/providers/config.go
  pkg/querybuilder-providers/prometheus/builder.go
  pkg/querybuilder-providers/prometheus/builder_test.go
  pkg/utils/ehpa.go
  pkg/utils/expression_prom_deafult_test.go
  pkg/utils/expression_prom_default.go
  pkg/utils/util.go
Labels: area:autoscaling

#652 Change tsp namespace and enhance install doc
  pkg/agent/agent.go
  pkg/resource/node_resource_manager.go
  site/content/en/docs/Getting started/installation.md
  site/content/en/docs/Tutorials/Recommendation/hpa-recommendation.md
  site/content/en/docs/Tutorials/Recommendation/replicas-recommendation.md
  site/content/en/docs/Tutorials/Recommendation/resource-recommendation.md
  site/content/zh/docs/Getting started/installation.md
  site/content/zh/docs/Tutorials/Recommendation/hpa-recommendation.md
  site/content/zh/docs/Tutorials/Recommendation/resource-recommendation.md
Labels: documentation

#653 Add prometheus-adapter-extension-labels for global prometheus expression
  cmd/craned/app/manager.go
  cmd/craned/app/options/options.go
  pkg/controller/ehpa/predict.go
  pkg/ensurance/cm/cpumanager/cpu_assignment.go
  pkg/prometheus-adapter/expression.go
  pkg/providers/config.go
  pkg/querybuilder-providers/prometheus/builder.go
  site/content/zh/docs/Best Practices/effective-hpa-with-prometheus-adapter.md
Labels: documentation, area:autoscaling

#648 Override recommder parameter with the config in RecommendationRule
  go.mod
  go.sum
  pkg/controller/recommendation/recommendation_rule_controller.go
  pkg/recommendation/config/config.go
  pkg/recommendation/manager.go
  pkg/recommendation/recommender/hpa/registry.go
  pkg/recommendation/recommender/idlenode/registry.go
  pkg/recommendation/recommender/replicas/registry.go
  pkg/recommendation/recommender/resource/registry.go
Labels: area:recommendation

#657 Release v0.9.0
  deploy/crane-agent/daemonset.yaml
  deploy/craned/deployment.yaml
  deploy/metric-adapter/deployment.yaml
  go.mod
  go.sum
Labels: deploy

#656 change event type when meet error
  docs/code-standards.md
  pkg/controller/ehpa/effective_hpa_controller.go
  pkg/controller/ehpa/hpa.go
  pkg/controller/ehpa/predict.go
  pkg/controller/ehpa/substitute.go
  pkg/controller/ehpa/substitute_controller.go
  pkg/controller/evpa/effective_vpa_controller.go
  pkg/controller/timeseriesprediction/status.go
  site/content/en/docs/Contributing/code-standards.md
  site/content/zh/docs/Contributing/code-standards.md
Labels: documentation, area:algorithm, area:autoscaling

#658 release v0.9.0
  deploy/crane-agent/daemonset.yaml
  deploy/craned/deployment.yaml
  deploy/metric-adapter/deployment.yaml
  go.mod
  go.sum
Labels: deploy

#655 update manifests
  deploy/craned/webhooks.yaml
  deploy/manifests/analysis.crane.io_analytics.yaml
  deploy/manifests/analysis.crane.io_recommendationrules.yaml
  deploy/manifests/ensurance.crane.io_nodeqoss.yaml
  deploy/manifests/ensurance.crane.io_podqoss.yaml
  deploy/manifests_1.13/ensurance.crane.io_nodeqoss.yaml
  examples/ensurance/disablescheduling-when-ext-cpu-total-distribute.yaml
  examples/ensurance/nep-schedule-delay.yaml
  examples/ensurance/waterline1.yaml
  examples/ensurance/waterline2.yaml
  examples/ensurance/waterline3.yaml
Labels: deploy, examples

#663 crd for k8s v1.13.12
  deploy/manifests_1.13/analysis.crane.io_analytics.yaml
  deploy/manifests_1.13/analysis.crane.io_configsets.yaml
  deploy/manifests_1.13/analysis.crane.io_recommendationrules.yaml
  deploy/manifests_1.13/analysis.crane.io_recommendations.yaml
  deploy/manifests_1.13/autoscaling.crane.io_effectivehorizontalpodautoscalers.yaml
  deploy/manifests_1.13/autoscaling.crane.io_effectiveverticalpodautoscalers.yaml
  deploy/manifests_1.13/autoscaling.crane.io_substitutes.yaml
  deploy/manifests_1.13/ensurance.crane.io_avoidanceactions.yaml
  deploy/manifests_1.13/ensurance.crane.io_nodeqoss.yaml
  deploy/manifests_1.13/ensurance.crane.io_podqoss.yaml
  deploy/manifests_1.13/prediction.crane.io_clusternodepredictions.yaml
  deploy/manifests_1.13/prediction.crane.io_timeseriespredictions.yaml
  deploy/manifests_1.13/topology.crane.io_noderesourcetopologies.yaml
Labels: deploy
