Repository gocrane/crane, pull requests merged in 2022-11, with the labels that each got.

#598 fix: update the url of docs website
  pkg/web/src/layouts/components/Header/HeaderIcon.tsx
Labels: area:dashboard

#599 fix a typo
  pkg/recommendation/recommender/replicas/registry.go
Labels: area:recommendation

#605 fix some typos
  docs/proposals/20220228-advanced-cpuset-manger.md
  docs/proposals/20220712-recommendation-framework-internal.md
  docs/tutorials/using-effective-hpa-to-scaling-with-effectiveness.md
  site/content/en/docs/Proposals/20220228-advanced-cpuset-manger.md
  site/content/zh/docs/Proposals/20220228-advanced-cpuset-manger.md
Labels: documentation

#611 Update grafana docs
  site/content/en/docs/Getting started/installation.md
  site/content/zh/docs/Getting started/installation.md
Labels: documentation

#613 OOM Protection and Memory Utilization for resource/replicas recommendation
  cmd/craned/app/manager.go
  cmd/craned/app/options/options.go
  pkg/controller/recommendation/updater.go
  pkg/metrics/autoscaling.go
  pkg/oom/recorder.go
  pkg/recommendation/framework/context.go
  pkg/recommendation/recommender/hpa/recommend.go
  pkg/recommendation/recommender/replicas/prepare.go
  pkg/recommendation/recommender/replicas/recommend.go
  pkg/recommendation/recommender/replicas/registry.go
  pkg/recommendation/recommender/resource/recommend.go
  pkg/recommendation/recommender/resource/registry.go
Labels: area:recommendation

#622 feta(dashboard): Add Retry Strategy
  pkg/web/src/services/clusterApi.ts
  pkg/web/src/services/grafanaApi.ts
  pkg/web/src/services/namespaceApi.ts
  pkg/web/src/services/prometheusApi.ts
  pkg/web/src/services/recommendationApi.ts
  pkg/web/src/services/recommendationRuleApi.ts
  pkg/web/src/services/retryFetchBaseQuery.ts
Labels: area:dashboard

#623 Add used by icon
  README.md
  README_zh.md
  site/assets/scss/_variables_project.scss
  site/content/en/_index.html
  site/content/en/docs/Getting started/introduction.md
  site/content/zh/_index.html
  site/content/zh/docs/Getting started/introduction.md
  site/static/images/Crane-FinOps-Certified-Solution.png
  site/static/images/users/netease.png
  site/static/images/users/shushu.png
  site/static/images/users/tencent-cloud.png
  site/static/images/users/xiaohongshu.png
Labels: documentation

#624 Auto-reload recommend config
  cmd/craned/app/manager.go
  go.mod
  pkg/controller/recommendation/recommendation_controller.go
  pkg/controller/recommendation/recommendation_rule_controller.go
  pkg/recommendation/framework/context.go
  pkg/recommendation/manager.go
  pkg/recommendation/recommender/.DS_Store
  pkg/recommendation/recommender/replicas/prepare.go
  pkg/recommendation/recommender/replicas/recommend.go
  pkg/recommendation/recommender/resource/recommend.go
Labels: area:recommendation

#627 Resource spec configs for resource recommendation
  pkg/recommendation/recommender/resource/recommend.go
  pkg/recommendation/recommender/resource/registry.go
  pkg/recommendation/recommender/resource/resource_spec.go
  pkg/recommendation/recommender/resource/resource_spec_test.go
Labels: area:recommendation

#631 Update docs for recommenders
  pkg/utils/expression_prom_default.go
  site/content/en/docs/Tutorials/Recommendation/idlenode-recommendation.md
  site/content/en/docs/Tutorials/Recommendation/recommendation-framework.md
  site/content/zh/docs/Tutorials/Recommendation/idlenode-recommendation.md
  site/content/zh/docs/Tutorials/Recommendation/recommendation-framework.md
  site/content/zh/docs/Tutorials/Recommendation/replicas-recommendation.md
  site/content/zh/docs/Tutorials/Recommendation/resource-recommendation.md
  site/static/images/resource-waste.jpg
Labels: documentation

#634 Recommender docs
  site/content/en/docs/Tutorials/Recommendation/idlenode-recommendation.md
  site/content/en/docs/Tutorials/Recommendation/replicas-recommendation.md
  site/content/en/docs/Tutorials/Recommendation/resource-recommendation.md
  site/content/zh/docs/Tutorials/Recommendation/replicas-recommendation.md
  site/content/zh/docs/Tutorials/Recommendation/resource-recommendation.md
Labels: documentation
