Repository gocrane/crane, pull requests merged in 2022-09, with the labels that each got.

#543 fix some klog typo
  cmd/craned/app/manager.go
  cmd/metric-adapter/main.go
  pkg/controller/ehpa/hpa.go
  pkg/metricprovider/custom_metric_provider.go
  pkg/metrics/tsp_metric_collector.go
Labels: area:autoscaling

#542 update ensurance manifests
  deploy/manifests/ensurance.crane.io_nodeqosensurancepolicies.yaml
  deploy/manifests/ensurance.crane.io_nodeqoss.yaml
  deploy/manifests/ensurance.crane.io_podqoss.yaml
Labels: deploy

#547 make function GetPodTemplate and IsHPAControlledByEHPA more precise
  pkg/controller/ehpa/hpa_event_handler.go
  pkg/utils/hpa.go
  pkg/utils/pod_template.go
  pkg/utils/pod_template_test.go
Labels: area:autoscaling

#548 pref: optimized nginx configuration
  deploy/craned/deployment.yaml
Labels: deploy

#553 fix some typo in evpa and remove useless variable
  pkg/controller/evpa/config.go
  pkg/controller/evpa/effective_vpa_controller.go
  pkg/recommendation/recommender/base/filter.go
Labels: area:recommendation, area:autoscaling

#555 fix(#515): fix k8s unit transform
  pkg/web/src/pages/Recommend/ResourcesRecommend/index.tsx
  pkg/web/src/utils/transformK8sUnit.ts
Labels: area:dashboard

#556 fix(#535): fix cluster edit modal error message incorrect
  pkg/web/src/pages/Settings/cluster/EditClusterModal.tsx
Labels: area:dashboard

#561 feat(CI): docsy preview
  .github/workflows/docsy.yml
  .github/workflows/mkdocs-publish.yml
  .github/workflows/mkdocs.yml
  .github/workflows/preview docsy.yml
  .github/workflows/preview.yml
  site/README.md
  site/config.toml
  site/package.json
Labels: documentation, workflows

#544 add NRT collector
  cmd/crane-agent/app/agent.go
  cmd/crane-agent/app/options/option.go
  deploy/crane-agent/daemonset.yaml
  deploy/crane-agent/rbac.yaml
  go.mod
  go.sum
  pkg/agent/agent.go
  pkg/ensurance/analyzer/analyzer.go
  pkg/ensurance/collector/collector.go
  pkg/ensurance/collector/noderesourcetopology/noderesourcetopology.go
  pkg/ensurance/collector/types/types.go
  pkg/features/features.go
  pkg/topology/node_resource_topology.go
  pkg/utils/node.go
Labels: deploy

#564 Add live demo menu, use / to be root path
  .github/workflows/docsy.yml
  site/config.toml
  site/content/en/docs/Tutorials/timeseriees-forecasting-by-dsp.md
Labels: documentation, workflows

#568 fix prediction without resource metrics
  pkg/controller/ehpa/hpa.go
  pkg/utils/ehpa.go
Labels: area:autoscaling

#569 Add docs for quick-start
  README.md
  README_zh.md
  hack/local-env-setup.sh
  site/content/en/docs/Getting started/installation.md
  site/content/en/docs/Getting started/quick-start.md
  site/content/zh/docs/Getting started/installation.md
  site/content/zh/docs/Getting started/quick-start.md
Labels: documentation

#571 Fix yaml display error
  site/config.toml
Labels: documentation
