Repository gocrane/crane, pull requests merged in 2023-01, with the labels that each got.

#670 update base v0.9.0
  deploy/manifests_1.13/analysis.crane.io_analytics.yaml
  deploy/manifests_1.13/analysis.crane.io_configsets.yaml
  deploy/manifests_1.13/analysis.crane.io_recommendationrules.yaml
  deploy/manifests_1.13/analysis.crane.io_recommendations.yaml
  deploy/manifests_1.13/autoscaling.crane.io_effectivehorizontalpodautoscalers.yaml
  deploy/manifests_1.13/autoscaling.crane.io_effectiveverticalpodautoscalers.yaml
  deploy/manifests_1.13/autoscaling.crane.io_substitutes.yaml
  deploy/manifests_1.13/ensurance.crane.io_avoidanceactions.yaml
  deploy/manifests_1.13/ensurance.crane.io_nodeqoss.yaml
  deploy/manifests_1.13/ensurance.crane.io_podqoss.yaml
  deploy/manifests_1.13/prediction.crane.io_clusternodepredictions.yaml
  deploy/manifests_1.13/prediction.crane.io_timeseriespredictions.yaml
  deploy/manifests_1.13/topology.crane.io_noderesourcetopologies.yaml
Labels: deploy

#671 fix the panic of concurrent map write
  pkg/recommend/config.go
  pkg/recommend/config_test.go
Labels: area:recommendation

#673 fix klog error
  pkg/metrics/metric_collector.go
  pkg/recommendation/recommender/resource/registry.go
Labels: area:recommendation

#675 fix set default discount value bug
  pkg/server/handler/clusters/cluster.go
Labels: area:dashboard

#667 fix the update status error for ehpa
  pkg/controller/ehpa/effective_hpa_controller.go
  pkg/controller/ehpa/hpa.go
  pkg/controller/ehpa/substitute.go
  pkg/controller/ehpa/substitute_controller.go
  pkg/controller/recommendation/recommendation_controller.go
  pkg/controller/recommendation/recommendation_rule_controller.go
  pkg/controller/timeseriesprediction/status.go
Labels: area:algorithm, area:recommendation, area:autoscaling

#664 add support for prom-adapter overrides
  cmd/craned/app/manager.go
  pkg/controller/ehpa/predict.go
  pkg/prometheus-adapter/config_fetcher.go
  pkg/prometheus-adapter/expression.go
  pkg/prometheus-adapter/expression_test.go
  pkg/querybuilder-providers/prometheus/builder.go
  site/content/zh/docs/Best Practices/effective-hpa-with-prometheus-adapter.md
Labels: documentation, area:autoscaling

#682 Fix the node label replace error
  pkg/web/src/pages/Cost/CarbonInsight/components/CarbonChart.tsx
  pkg/web/src/pages/Dashboard/Base/components/CpuChart.tsx
  pkg/web/src/pages/Dashboard/Base/components/MemoryChart.tsx
Labels: area:dashboard
