Repository gocrane/crane, pull requests merged in 2023-06, with the labels that each got.

#808 Update services plugin
  examples/analytics/preinstall-rule.yaml
  examples/analytics/recommendation-configuration.yaml
  pkg/recommendation/recommender/base/recommend.go
  pkg/recommendation/recommender/idlenode/recommend.go
  pkg/recommendation/recommender/idlenode/registry.go
  pkg/recommendation/recommender/service/prepare.go
  pkg/recommendation/recommender/service/recommend.go
  pkg/recommendation/recommender/service/registry.go
  pkg/server/handler/clusters/cluster.go
  pkg/utils/expression_prom_default.go
Labels: area:dashboard, area:recommendation, examples

#809 perf(volumes): optimize volumes recommender
  pkg/recommendation/framework/context.go
  pkg/recommendation/recommender/volumes/filter.go
  pkg/recommendation/recommender/volumes/recommend.go
  pkg/utils/pod.go
Labels: area:recommendation

#803 Abandon recommendation missions
  pkg/controller/analytics/analytics_controller.go
  pkg/controller/recommendation/recommendation_rule_controller.go
  pkg/controller/recommendation/recommendation_trigger_controller.go
  pkg/known/annotation.go
  pkg/known/label.go
  pkg/utils/recommend.go
  pkg/utils/time.go
Labels: area:recommendation

#816 fix ehpa controller update hpa logic
  pkg/controller/ehpa/hpa.go
Labels: area:autoscaling

#818 fix: Orphan Volume judgment logic
  pkg/recommendation/recommender/volumes/recommend.go
Labels: area:recommendation

#821 fix: Orphan Volume judgment logic
  pkg/recommendation/framework/context.go
  pkg/recommendation/recommender/volumes/filter.go
  pkg/recommendation/recommender/volumes/recommend.go
  pkg/utils/pod.go
Labels: area:recommendation

#820 Optimize the document of QOS
  docs/tutorials/using-qos-ensurance.md
  docs/tutorials/using-qos-ensurance.zh.md
Labels: documentation

#819 docs: Update docs for new plugins
  deploy/craned/deployment.yaml
  examples/analytics/preinstall-rule.yaml
  examples/analytics/recommendation-configuration.yaml
  pkg/recommendation/manager.go
  pkg/recommendation/recommender/const.go
  pkg/recommendation/recommender/volume/filter.go
  pkg/recommendation/recommender/volume/observe.go
  pkg/recommendation/recommender/volume/prepare.go
  pkg/recommendation/recommender/volume/recommend.go
  pkg/recommendation/recommender/volume/registry.go
  pkg/recommendation/recommender/volumes/registry.go
  pkg/server/handler/clusters/cluster.go
  site/.DS_Store
  site/content/en/docs/Tutorials/Recommendation/pv-recommendation.md
  site/content/en/docs/Tutorials/Recommendation/recommendation-framework.md
  site/content/en/docs/Tutorials/Recommendation/service-recommendation.md
  site/content/zh/docs/Tutorials/Recommendation/idlenode-recommendation.md
  site/content/zh/docs/Tutorials/Recommendation/pv-recommendation.md
  site/content/zh/docs/Tutorials/Recommendation/recommendation-framework.md
  site/content/zh/docs/Tutorials/Recommendation/service-recommendation.md
  site/training.zip
Labels: documentation, area:dashboard, area:recommendation, deploy, examples

#827 docs:translate service and pv recommendation to en
  site/content/en/docs/Best Practices/how-to-optimize-your-application-resource.md
  site/content/en/docs/Tutorials/Colocation with Enhanced QOS/qos-dynamic-resource-oversold-and-limit.md
  site/content/en/docs/Tutorials/Colocation with Enhanced QOS/qos-interference-detection-and-active-avoidance.md
  site/content/en/docs/Tutorials/Recommendation/pv-recommendation.md
  site/content/en/docs/Tutorials/Recommendation/service-recommendation.md
  site/content/zh/docs/Best Practices/how-to-optimize-your-application-resource.md
  site/content/zh/docs/Tutorials/Colocation with Enhanced QOS/qos-dynamic-resource-oversold-and-limit.zh.md
  site/content/zh/docs/Tutorials/Colocation with Enhanced QOS/qos-interference-detection-and-active-avoidance.zh.md
Labels: documentation

#825 feat: Completion check
  pkg/recommendation/recommender/resource/recommend.go
  pkg/recommendation/recommender/resource/registry.go
  pkg/utils/timestamp.go
  pkg/utils/timestamp_test.go
Labels: area:recommendation
