Repository gocrane/crane, pull requests merged in 2023-05, with the labels that each got.

#749 feat: 优化前端代码
  pkg/web/src/pages/Cost/ClusterOverview/PanelWrapper.tsx
  pkg/web/src/pages/Cost/CostsByDimension/PanelWrapper.tsx
  pkg/web/src/pages/Cost/NamespaceCosts/PanelWrapper.tsx
  pkg/web/src/pages/Cost/WorkloadInsight/PanelWrapper.tsx
  pkg/web/src/pages/Cost/WorkloadOverview/PanelWrapper.tsx
  pkg/web/src/pages/Recommend/ReplicaRecommend/index.tsx
Labels: area:dashboard

#761 fix(bug#756): 修复web项目在暗色主题下某些页面的显示问题
  pkg/web/src/components/common/Card.tsx
Labels: area:dashboard

#759 fix doc link
  site/content/en/docs/Getting started/Installation/quick-start.md
  site/content/en/docs/Getting started/introduction.md
  site/content/en/docs/Tutorials/Colocation with Enhanced QOS/using-qos-ensurance.md
  site/content/zh/docs/Getting started/Installation/quick-start.md
  site/content/zh/docs/Getting started/introduction.md
  site/content/zh/docs/Tutorials/Colocation with Enhanced QOS/using-qos-ensurance.zh.md
Labels: documentation

#770 fix(docs): RecommendationRule example yaml indent
  site/content/en/docs/Tutorials/Recommendation/recommendation-framework.md
  site/content/zh/docs/Tutorials/Recommendation/recommendation-framework.md
Labels: documentation

#774 add reserve cpu doc
  site/content/zh/docs/Tutorials/node-resource-tpolology-scheduler-plugins.md
Labels: documentation

#786 fix: QueryWindow Range - LAST_1_DAY 前台时间范围不准确 #778
  pkg/web/src/utils/rangeMap.ts
Labels: area:dashboard, bootcamp

#776 fix(bug#742): fix all eslint line error & warn
  .github/workflows/lint.yml
  pkg/web/.eslintrc.js
  pkg/web/package.json
  pkg/web/src/components/BoardChart/index.tsx
  pkg/web/src/components/PieChart/index.tsx
  pkg/web/src/components/SeriesLineChart/index.tsx
  pkg/web/src/components/common/Editor.tsx
  pkg/web/src/hooks/useDynamicChart.ts
  pkg/web/src/hooks/useGrafanaQueyStr.ts
  pkg/web/src/hooks/useIsNeedSelectNamespace.ts
  pkg/web/src/layouts/components/Header/HeaderIcon.tsx
  pkg/web/src/layouts/components/Header/index.tsx
  pkg/web/src/modules/insightSlice.ts
  pkg/web/src/pages/Cost/CarbonInsight/components/CarbonChart.tsx
  pkg/web/src/pages/Cost/ClusterOverview/ClusterOverviewPanel.tsx
  pkg/web/src/pages/Cost/ClusterOverview/OverviewSearchPanel.tsx
  pkg/web/src/pages/Cost/ClusterOverview/PanelWrapper.tsx
  pkg/web/src/pages/Cost/CostsByDimension/CostsByDimensionPanel.tsx
  pkg/web/src/pages/Cost/CostsByDimension/CostsByDimensionSearchPanel.tsx
  pkg/web/src/pages/Cost/CostsByDimension/PanelWrapper.tsx
  pkg/web/src/pages/Cost/NamespaceCosts/NamespaceCostSearchPanel.tsx
  pkg/web/src/pages/Cost/NamespaceCosts/NamespaceCostsPanel.tsx
  pkg/web/src/pages/Cost/NamespaceCosts/PanelWrapper.tsx
  pkg/web/src/pages/Cost/WorkloadInsight/InsightSearchPanel.tsx
  pkg/web/src/pages/Cost/WorkloadInsight/PanelWrapper.tsx
  pkg/web/src/pages/Cost/WorkloadInsight/WorkloadInsightPanel.tsx
  pkg/web/src/pages/Cost/WorkloadOverview/OverviewSearchPanel.tsx
  pkg/web/src/pages/Cost/WorkloadOverview/PanelWrapper.tsx
  pkg/web/src/pages/Cost/WorkloadOverview/WorkloadOverviewPanel.tsx
  pkg/web/src/pages/Dashboard/Base/components/CpuChart.tsx
  pkg/web/src/pages/Dashboard/Base/components/MiddleChart.tsx
  pkg/web/src/pages/Recommend/IdleNode/components/SearchForm.tsx
  pkg/web/src/pages/Recommend/IdleNode/index.tsx
  pkg/web/src/pages/Recommend/RecommendationRule/components/SearchForm.tsx
  pkg/web/src/pages/Recommend/RecommendationRule/index.tsx
  pkg/web/src/pages/Recommend/ReplicaRecommend/index.tsx
  pkg/web/src/pages/Recommend/ResourcesRecommend/index.tsx
  pkg/web/src/pages/Settings/cluster/EditClusterModal.tsx
  pkg/web/src/router/modules/recommend.ts
  pkg/web/src/services/clusterApi.ts
  pkg/web/src/services/grafanaApi.ts
  pkg/web/src/services/namespaceApi.ts
  pkg/web/src/services/prometheusApi.ts
  pkg/web/src/services/recommendationApi.ts
  pkg/web/src/services/recommendationRuleApi.ts
Labels: area:dashboard, workflows, bootcamp

#785 perf: optimize recommender manager
  cmd/craned/app/manager.go
  pkg/controller/recommendation/recommendation_rule_controller.go
  pkg/controller/recommendation/recommendation_trigger_controller.go
  pkg/recommendation/config/config.go
  pkg/recommendation/framework/context.go
  pkg/recommendation/manager.go
  pkg/recommendation/recommender/hpa/registry.go
  pkg/recommendation/recommender/idlenode/registry.go
  pkg/recommendation/recommender/recommenders.go
  pkg/recommendation/recommender/replicas/registry.go
  pkg/recommendation/recommender/resource/recommend.go
  pkg/recommendation/recommender/resource/registry.go
Labels: area:recommendation, bootcamp

#796 Support v0.5 version compatiablilty
  cmd/craned/app/manager.go
  pkg/controller/analytics/analytics_controller.go
  pkg/controller/recommendation/recommendation_rule_controller.go
  pkg/controller/recommendation/recommendation_trigger_controller.go
  pkg/known/annotation.go
  pkg/metrics/metric_collector.go
Labels: area:recommendation

#784 Find the Orphan Volume in k8s cluster
  deploy/craned/deployment.yaml
  pkg/recommendation/framework/context.go
  pkg/recommendation/recommender/const.go
  pkg/recommendation/recommender/volumes/filter.go
  pkg/recommendation/recommender/volumes/observe.go
  pkg/recommendation/recommender/volumes/prepare.go
  pkg/recommendation/recommender/volumes/recommend.go
  pkg/recommendation/recommender/volumes/registry.go
  pkg/utils/pod.go
Labels: area:recommendation, deploy, bootcamp

#798 wip:Translation to English
  site/content/en/docs/Best Practices/how-to-optimize-your-application-resource.md
Labels: documentation, bootcamp

#801 feat(translate work): issue #797
  site/content/en/docs/Core Concept/timeseriees-forecasting-by-dsp.md
Labels: documentation, bootcamp

#804 perf: Find the Orphan Service Plugin in k8s cluster
  pkg/recommendation/recommender/service/recommend.go
  pkg/recommendation/recommender/service/registry.go
Labels: area:recommendation
