Repository gocrane/crane, pull requests merged in 2023-02, with the labels that each got.

#685 dsp QueryPredictionStatus
  pkg/prediction/dsp/prediction.go
Labels: area:algorithm, area:autoscaling

#678 update nginx.conf
  deploy/craned/deployment.yaml
Labels: deploy

#694 add maxConcurrentReconciles flag for tsp controller
  cmd/craned/app/manager.go
  cmd/craned/app/options/options.go
  pkg/controller/timeseriesprediction/time_series_prediction_controller.go
Labels: area:algorithm

#693 observe metrics in recommendation controller
  cmd/craned/app/manager.go
  go.mod
  pkg/controller/recommendation/recommendation_controller.go
  pkg/controller/recommendation/recommendation_rule_controller.go
  pkg/recommendation/framework/context.go
  pkg/recommendation/manager.go
  pkg/recommendation/recommender/resource/observe.go
  pkg/utils/scale.go
Labels: area:recommendation

#692 delete recommendation belong to recommendationrule if target oject not found
  pkg/controller/recommendation/updater.go
  pkg/utils/recommend.go
Labels: area:recommendation

#697 remove owner_replicas in metric
  pkg/metrics/analysis.go
  pkg/recommendation/recommender/resource/observe.go
Labels: kind/bug, area:recommendation

#686 docs: add cli tool for installation
  site/content/en/docs/Installation/_index.md
  site/content/en/docs/Installation/installation-cli-tool.md
  site/content/en/docs/Tutorials/_index.md
  site/content/zh/docs/Installation/_index.md
  site/content/zh/docs/Installation/installation-cli-tool.md
  site/content/zh/docs/Tutorials/_index.md
Labels: documentation

#699 fix: add recommended resource allocation
  pkg/recommendation/recommender/resource/recommend.go
  pkg/recommendation/recommender/resource/registry.go
  site/content/en/docs/Tutorials/Recommendation/recommendation-framework.md
  site/content/en/docs/Tutorials/Recommendation/resource-recommendation.md
  site/content/zh/docs/Tutorials/Recommendation/resource-recommendation.md
Labels: documentation, area:recommendation

#701 fix: move quick start to installation
  site/content/en/docs/Installation/installation-cli-tool.md
  site/content/en/docs/Installation/installation.md
  site/content/en/docs/Installation/quick-start.md
  site/content/zh/docs/Installation/installation-cli-tool.md
  site/content/zh/docs/Installation/installation.md
  site/content/zh/docs/Installation/quick-start.md
Labels: documentation

#703 fix node label matching
  pkg/web/src/pages/Cost/CarbonInsight/components/CarbonChart.tsx
  pkg/web/src/pages/Dashboard/Base/components/CpuChart.tsx
  pkg/web/src/pages/Dashboard/Base/components/MemoryChart.tsx
Labels: area:dashboard

#706 Add model docs
  docs/images/crane-arch.png
  site/content/en/docs/Best Practices/how-kujiale-adopt-ehpa.md
  site/content/en/docs/Best Practices/how-to-optimize-your-application-resource.md
  site/content/en/docs/Core Concept/_index.md
  site/content/en/docs/Core Concept/architecture.md
  site/content/en/docs/Core Concept/resource-optimize-model.md
  site/content/en/docs/Core Concept/timeseriees-forecasting-by-dsp.md
  site/content/en/docs/Getting started/Installation/_index.md
  site/content/en/docs/Getting started/Installation/installation-cli-tool.md
  site/content/en/docs/Getting started/Installation/installation.md
  site/content/en/docs/Getting started/Installation/quick-start.md
  site/content/en/docs/Getting started/introduction.md
  site/content/zh/docs/Best Practices/how-kujiale-adopt-ehpa.md
  site/content/zh/docs/Best Practices/how-to-optimize-your-application-resource.md
  site/content/zh/docs/Core Concept/_index.md
  site/content/zh/docs/Core Concept/architecture.md
  site/content/zh/docs/Core Concept/resource-optimize-model.md
  site/content/zh/docs/Core Concept/timeseriees-forecasting-by-dsp.md
  site/content/zh/docs/Getting started/Installation/_index.md
  site/content/zh/docs/Getting started/Installation/installation-cli-tool.md
  site/content/zh/docs/Getting started/Installation/installation.md
  site/content/zh/docs/Getting started/Installation/quick-start.md
  site/content/zh/docs/Getting started/introduction.md
  site/static/images/crane-arch.png
  site/static/images/resource-flow.png
  site/static/images/resource-model.png
Labels: documentation
